
<div class="intro-slide row background-tint" style="background-image:url('https://media1.faz.net/ppmedia/aktuell/815327943/1.5500349/default-retina/beliebter-pausenfueller-immer.jpg')">
    <div class="col-4"></div>
    <h1>Über uns</h1>

    <p style="color:white">
        Die Firma Tischkicker Online ist Ihr kompetenter Partner für alles rund um das Thema Tischfußball. Ob Sie einen hochwertigen Tischkicker für Ihr Zuhause, Ihr Büro oder Ihre Gastronomie suchen, bei uns finden Sie eine große Auswahl an Modellen verschiedener Marken und Preisklassen. Wir bieten Ihnen auch Zubehör, Ersatzteile und Reparaturservice an. Bestellen Sie einfach online und profitieren Sie von unserer schnellen Lieferung, unserem freundlichen Kundenservice und unserer langjährigen Erfahrung im Bereich Tischkicker.
    </p>
    <div class="col-8">
    </div>

    <button class="btn btn-primary">Mehr Erfahren</button>
</div>
@code {

}
<style>
    h1 {
        font-size: 4rem;
        margin-bottom: 2rem;
        text-align:center;
        color:white;
    }

    p {
        font-size: 2rem;
        margin-bottom: 3rem;
    }
    .intro-slide {
        border-radius:1em;
        background-image: url('background.jpg');
        background-size: cover;
        background-position: center;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .background-tint {
  background-color: rgba(0,0,0,0.75);
  background-blend-mode: multiply;
    
    </style>
