@page "/"
<div class="row">
    <div class="col-5">
        <Slides></Slides>
       
    </div>
    <div class="col-7">
       <CompanyWindow></CompanyWindow> 
    </div>
    <br />
    <Showcase></Showcase>
</div>