<div class="intro-slide background-tint">
    <div class="slide-content">
        <h1>Wilkommen auf dem Tischkicker Online Shop</h1>
        <p>Registrieren Sie sich jetzt kostenlos und einfach, um Teil unserer Community zu werden und von exklusiven Angeboten zu profitieren.</p>
        <a href="/register" class="btn btn-primary">Registrieren</a><br />
        <a href="/tables" class="btn btn-secondary">Als Gast Fortfahren</a>
    </div>
</div>
<style>
    .intro-slide {
        border-radius:1em;
        background-image: url('background.jpg');
        background-size: cover;
        background-position: center;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .background-tint {
  background-color: rgba(0,0,0,0.75);
  background-blend-mode: multiply;
}
    .slide-content {
        text-align: center;
        color: #fff;
    }
    .slide-content h1 {
        font-size: 4rem;
        margin-bottom: 2rem;
    }
    .slide-content p {
        font-size: 2rem;
        margin-bottom: 3rem;
    }
    .btn-primary {
        background-color: #0066cc;
        color: #fff;
        font-size: 1.5rem;
        padding: 1rem 2rem;
        border-radius: 5px;
        text-decoration: none;
    }
    .btn-primary:hover {
        background-color: #004c99;
    }
</style>